@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f6f6f6;
}

img {
  max-width: 100%;
}

.main-container {
  max-width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.header__logo img {
  width: 50%;
  max-width: 100%;
}
.header__logo {
  text-align: center;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}
.header__logo:first-child {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header__logo:nth-child(2) {
  background-color: #eaeaea;
  justify-content: center;
  padding: 15px 0;
  box-shadow: none;
  width: 100%;
}
.header__logo:nth-child(2) i {
  margin-right: 10px;
  color: #353535;
}
.header__logo:nth-child(2) p {
  color: #353535;
  font-weight: 500;
}
.header:last-child {
  background-color: #eaeaea;
  gap: 1rem;
}
.header__location {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}
.header__location i {
  color: #333;
}

@media (min-width: 1200px) {
  .header {
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  .header__logo img {
    width: 10%;
  }
}
html {
  scroll-behavior: smooth;
}

.hero {
  text-align: center;
  padding: 2rem 1rem;
}
.hero h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
@media (min-width: 1200px) {
  .hero h1 {
    font-size: 2.5rem;
  }
}
.hero p {
  margin-bottom: 2rem;
  color: #666;
}
.hero .btn-primary {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  background: linear-gradient(#FF79da, #9356dc);
  color: white;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s;
}
.hero .btn-primary:hover {
  opacity: 0.8;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.functioning {
  width: 100%;
  padding: 3rem 2rem;
  background-color: white;
}
@media (min-width: 1200px) {
  .functioning {
    padding: 3rem 15rem;
  }
}
.functioning h2 {
  margin-bottom: 1.5rem;
}
.functioning__steps {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 1200px) {
  .functioning .functioning__steps {
    flex-direction: row;
    justify-content: space-between;
  }
}
.functioning .step {
  display: flex;
  position: relative;
  margin-bottom: 1rem;
  padding: 1.5rem;
  background-color: #eaeaea;
  border-radius: 1.25rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1200px) {
  .functioning .step {
    flex: 1;
    margin: 0 1rem;
  }
}
.functioning .step i {
  color: #9356dc;
  margin-right: 1rem;
  font-size: 1.2rem;
  transition: color 0.2s;
}
.functioning .step__number {
  position: absolute;
  left: -0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}
.functioning .step p {
  margin: 0;
  font-weight: 500;
}

.restaurants {
  padding: 2rem 1rem;
  background-color: #eaeaea;
}
.restaurants h2 {
  margin-bottom: 2rem;
}
@media (min-width: 1200px) {
  .restaurants h2 {
    margin-left: 330px;
  }
}
.restaurants__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
@media (min-width: 1200px) {
  .restaurants__cards {
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
  }
}

.card {
  width: 100%;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.card__image {
  position: relative;
}
.card__image img {
  width: 100%;
  height: 231px;
  display: block;
  object-fit: cover;
}
@media (min-width: 1200px) {
  .card__image {
    max-width: 100%;
    margin: 0 auto;
  }
}
.card__image .card__badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  background-color: #99e2d0;
  color: #008766;
  border-radius: 0.25rem;
}
.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.card__favorite {
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
}
.card__favorite i {
  transition: all 1s ease;
}
.card__favorite:hover i {
  font-weight: 900;
  background: linear-gradient(#9356dc, #FF79da);
  -webkit-background-clip: text;
  color: transparent;
}
.card__favorite i::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  color: #000;
  transition: all 0.1s ease;
}
.card__favorite:hover i::before {
  font-weight: 900;
  background: linear-gradient(#9356dc, #FF79da);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 1.5s ease;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 1.5rem;
}
.footer__logo {
  filter: invert(1);
  width: 139px;
  margin-bottom: 1rem;
}
.footer__nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer__nav ul li {
  margin-bottom: 0.5rem;
}
.footer__nav ul li a {
  color: white;
  text-decoration: none;
}
.footer__nav ul li a i {
  width: 1.5rem;
  margin-right: 0.5rem;
}
@media (min-width: 1200px) {
  .footer__nav ul {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
}
@media (min-width: 1200px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 2rem 5rem;
  }
  .footer__logo {
    margin-bottom: 0;
    margin-left: 60px;
  }
}

@keyframes loader {
  from {
    opacity: 1;
    z-index: 1000;
  }
  to {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
.loader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: loader 0.3s 2s forwards;
}
.loader__spinner {
  width: 100px;
  height: 100px;
  position: relative;
}
.loader__spinner::before, .loader__spinner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: spin 2s infinite ease-in-out;
}
.loader__spinner::before {
  background: linear-gradient(45deg, #9356dc, #FF79da);
}
.loader__spinner::after {
  background: linear-gradient(45deg, #FF79da, #99e2d0);
  animation-delay: -1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

.main-container {
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.header__logo img {
  width: 40%;
  max-width: 100%;
}

.header__logo {
  width: 100%;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .back-button {
  position: absolute;
  left: 15px;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}

.restaurant-image {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.restaurant-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.restaurant-content {
  background: white;
  border-radius: 25px 25px 0 0;
  padding: 20px;
  text-align: center;
  position: relative;
  margin-top: -40px;
  z-index: 1;
  max-width: 1200px;
}

.restaurant-title {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  font-family: Shrikhand;
}
.restaurant-title__favorite {
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
}
.restaurant-title__favorite i {
  transition: all 1s ease;
}
.restaurant-title__favorite:hover i {
  font-weight: 900;
  background: linear-gradient(#9356dc, #FF79da);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
}
.restaurant-title__favorite i::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  color: #000;
  transition: all 0.1s ease;
}
.restaurant-title__favorite:hover i::before {
  font-weight: 900;
  background: linear-gradient(#9356dc, #FF79da);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 1s ease;
}

.menu-section {
  text-align: left;
  max-width: 1200px;
  margin: 0 auto;
}

.menu-section h3 {
  text-transform: uppercase;
  font-size: 1rem;
  border-bottom: 3px solid #99e2d0;
  width: 40px;
  margin-bottom: 10px;
}

.menu-item {
  background: white;
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease;
}
.menu-item:hover .price {
  transform: translateX(-50px);
  transition: all 0.5s ease;
}
.menu-item:hover .menu-item__check {
  transform: translateX(0);
  font-size: 24px;
  color: #72d29a;
  opacity: 1;
  visibility: visible;
  position: absolute;
  right: 0;
  transition: opacity 0.5s ease, visibility 1s ease;
}
.menu-item-description {
  flex: 1;
}
.menu-item .price {
  font-size: 1.1rem;
  color: #2d3436;
  transform: translateX(0);
  transition: all 0.5s ease;
}
.menu-item__check {
  position: absolute;
  right: -50px;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 70px;
  background-color: #99e2d0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  visibility: hidden;
  border-radius: 0 15px 15px 0;
}
.menu-item__check i {
  color: white;
  font-size: 1.5rem;
}

.menu-item h4 {
  font-size: 0.9rem;
  margin: 0;
}

.menu-item p {
  font-size: 0.8rem;
  color: #7f8c8d;
  margin: 0;
}

.menu-item .price {
  display: flex;
  justify-content: flex-end;
  font-size: 1.1rem;
  color: #2d3436;
  font-family: Roboto;
}

.order-button {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
}

.order-button button {
  background: linear-gradient(90deg, #ff79da, #9356dc);
  color: white;
  border: none;
  padding: 15px 40px;
  font-size: 1.2rem;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.order-button button:hover {
  opacity: 0.8;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 1.5rem;
}
.footer__logo {
  filter: invert(1);
  width: 139px;
  margin-bottom: 1rem;
}
.footer__nav ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer__nav ul li {
  margin-bottom: 0.5rem;
}
.footer__nav ul li a {
  color: white;
  text-decoration: none;
}
.footer__nav ul li a i {
  width: 1.5rem;
  margin-right: 0.5rem;
}
@media (min-width: 1200px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 2rem 5rem;
    position: relative;
    z-index: 2;
  }
  .footer__logo {
    margin-bottom: 0;
    margin-left: 60px;
  }
  .footer__nav ul {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
}

@media (min-width: 1200px) {
  .main-container {
    margin: 0 auto;
  }
  .header__logo img {
    width: 10%;
  }
  .restaurant-image {
    height: 400px;
  }
  .restaurant-content {
    width: 70%;
    padding: 40px;
    margin: -25px auto;
  }
  .menu-section {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    animation: fadeIn 4s ease-in forwards;
  }
  .menu-section.entrées {
    animation-delay: 2s;
  }
  .menu-section.plats {
    animation-delay: 3s;
  }
  .menu-section.desserts {
    animation-delay: 4s;
  }
  .menu-section h3 {
    display: inline-block;
    padding-bottom: 5px;
    width: 5%;
    margin-bottom: 10px;
    margin-left: 160px;
  }
  .menu-item {
    text-align: left;
    width: 67%;
    margin: 20px auto;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}
@media (max-width: 768px) {
  .menu-section {
    animation: fadeIn 1s ease-out forwards;
  }
}

/*# sourceMappingURL=style.css.map */
