* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f6f6f6;
}

.main-container {
  max-width: 100%;
  margin: 0 auto;
}

.header__logo {
  text-align: center;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header img {
  width: 40%;
  max-width: 100%;
}
.header__location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #eaeaea;
}
.header__location i {
  color: #333;
}


