@import '../abstracts/mixin';
.footer {
  background-color: #353535;
  color: white;
  padding: 1.5rem;

  &__logo {
    filter: invert(1);
    width: 139px;
    margin-bottom: 1rem;
  }

  &__nav {
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      li {
        margin-bottom: 0.5rem;

        a {
          color: white;
          text-decoration: none;

          i {
            width: 1.5rem;
            margin-right: 0.5rem;
          }
        }
      }
    }

    @include desktop {
      ul {
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
      }
    }
  }

  @include desktop {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 2rem 5rem;

    &__logo {
      margin-bottom: 0;
      margin-left: 60px;
    }
  }
}