@media (max-width: 375px) {
  .main-container {
    width: 100%;
    min-width: 375px;
    padding: 0 50px;
    box-sizing: border-box;
  }
  body {
    display: flex;
    justify-content: center;
  }
}