$primary-color: #9356dc;
$secondary-color: #FF79da;
$tertiary-color: #99e2d0;
$background-light: #f6f6f6;
$text-dark: #333;

@mixin mobile-first {
  @media (min-width: 375px) {
    @content;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: $text-dark;
}
.main-container {
  max-width: 100%;
  margin: 0 auto;
}
.header {
  &__logo {
    text-align: center;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  img{
    width: 40%;
    max-width: 100%;
  }
}
.header__location {
display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #eaeaea;
  i {
    color: #353535;
  }
}