@keyframes loader {
  from {
    opacity: 1;
    z-index: 1000;
  }
  to {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.loader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: loader 0.3s 2s forwards;

  &__spinner {
    width: 100px;
    height: 100px;
    position: relative;

    &::before, &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      animation: spin 2s infinite ease-in-out;
    }

    &::before {
      background: linear-gradient(45deg, $primary-color, $secondary-color);
    }

    &::after {
      background: linear-gradient(45deg, $secondary-color, $tertiary-color);
      animation-delay: -1s;
    }
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0,-20%, 0);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}